<div class="items">
    <% if(items.length > 0) {%>

        <% for (var i = 0; i < items.length; i++){ %>




        <% } %>
    <% } else { %>
        <h1> No items</h1>            
    <% }%>
</div>