<link rel="stylesheet" type="text/css" href="/css/footer.css">

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>What is OneThird?</h2>
                <p> OneThird is an attempt to address the OpenIDEO challenge of dramatically reducing food waste by changing
                    our relationship with food. Food wastage alone causes 250 cubic kilometers of water to be wasted, 3.3 billion
                    tons of green house gasses to be emmitted, and 1.4 billion hectares of land to be used in just one year!
                </p>
                <p>OneThird is a marketplace for unwanted food. It's easy! Just order food from the marketplace
                    or give away your food for in store points. We called this site One Third because approximately one third
                    of all food produced is ultimately wasted. But with your help, we hope we will soon be changing our name
                    to One Quarter!
                </p>
                <p class="small-p"> Created by Anthony, Ari and Nick
                    <br>&copy; Cool Website Dudes
                </p>
            </div>
        </div>
    </div>
</footer>