<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">


<div>Coming Soon</div>
<div>A platform that aims to reduce food wastage</div>

<footer>
	<p> Created by Ari, Nick and Anthony
		<br>&copy; Cool Website Dudes
	</p>
</footer>