<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<link rel="stylesheet" type="text/html" href="../public/css/comingsoon.css">

<style>
	html,
	body {
		height: 100%;
		font-size: 16px;
		font-family: 'Cubano Regular';
		background: url(../img/foodies.jpg) center center;
	}

	#main{
		font-size: 3rem;
		margin-left: 350px;
		margin-bottom: 250px; 
		text-align: center
	}

	footer{
		background-color: black;
		padding-bottom: 10px;
		position: relative;
		text-align: center
	}

	footer p {
		color: #888;
		font-size: 18px;
		margin-top: 25px;
	}

	@font-face {
		font-family: 'Cubano-Regular';
		src: local('Cubano-Regular.otf'), url(Cubano-Regular.otf) format('opentype')
	}
</style>

<head>
	<title> Coming Soon </title>
</head>

<body>
	<section id="main">
		<div class="container">
			<div class="row">
				<h1>Coming Soon</h1>
			</div>
			<div class="row">
				<h3>A platform that aims to reduce food wastage.</h3>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
						<p> Created by Ari, Nick and Anthony
						<br>&copy; Cool Website Dudes
					</p>

				</div>

			</div>
		</div>
	
	</footer>

</body>

</html>