<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/comingsoon.css">

<head>
	<title> Coming Soon </title>
</head>

<body>
	<section id="main">
		<div class="container" id="comingsoon">
			<div class="row">
				<div class="col-sm-12">
					<h1>Coming Soon</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h3>A platform that aims to reduce food wastage.</h3>
				</div>
			</div>

		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p> Created by Ari, Nick and Anthony
						<br>&copy; Cool Website Dudes
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>