<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<link rel="stylesheet" type="text/html" href="../public/css/comingsoon.css">

<head>
	<title> Coming Soon </title>
</head>

<body>
	<section id="main">
		<div class="container">
			<div class="row">
				<h1>Coming Soon</h1>
			</div>
			<div class="row">
				<h3>A platform that aims to reduce food wastage.</h3>

			</div>
			<div class="row">
				<p> Created by Ari, Nick and Anthony
					<br>&copy; Cool Website Dudes
				</p>
			</div>
		</div>
	</section>

</body>

</html>