<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">OneThird</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/users/myaccount" class="nav-link"> My Account</a>
            </li>
            <li class="nav-item">
                <a href="/users/logout" class="nav-link"> Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-toggleable-sm navbar-default bg-default" id="main-nav">

    <ul class="nav mr-auto mt-2 mt-lg-0">
        <button class="back-btn" (click)="backToMenu()">
            <i class="fa fa-chevron-left"></i>
        </button>
        <li class="nav-item">
            <a id="info" class="nav-link active" (click)="showInfo()">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li class="nav-item">
            <a id="password" class="nav-link" (click)="showPassword()">
                <i class="fa fa-lock"></i>
            </a>
        </li>
        <li class="nav-item">
            <a id="billing" class="nav-link" (click)="showBilling()">
                <i class="fa fa-credit-card-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a id="linking" class="nav-link" (click)="showLinking()">
                <i class="fa fa-users"></i>
            </a>
        </li>

    </ul>

</nav>