<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="css/shoppingcart.css">
    <link rel="stylesheet" type="text/css" href="css/browse.css">
    <title> Welcome to OneThird </title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/main">OneThird</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/users/myaccount" class="nav-link"> My Account</a>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link"> Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-fixed-side navbar-fixed-side-left bg-light">

        <ul class="navbar-nav mb-auto">

            <li class="nav-item">
                <button type="button" class="btn btn-info btn-lg">Browse</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#giveaway">Give Away</button>
            </li>
        </ul>
    </nav>

    <div class="container browse">
        <div class="row input-group" id="search">
            <div class="col-sm-8">
                <input class="form-control" id="item" type="text" placeholder="SEARCH">
                <span class="input-group-btn">
                    <button class="btn btn-secondary margin-right">
                        <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </span>
            </div>

            <div class="col-sm-2" id="myCart">
                <button class="btn btn-secondary float-right" data-toggle="modal" data-target="#cart">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i> My Cart</button>
            </div>
        </div>

        <% include partials/browse.ejs%>
    </div>

    <div id="giveaway" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Give Away</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="title" class="form-control" id="title">
                        </div>

                        <div class="form-group">
                            <label for="comments">Comments:</label>
                            <input type="text" class="form-control" id="comments">
                        </div>
                        <div class="form-group">
                            <label for="expiryDate">Expiry Date:</label>
                            <input type="date" class="form-control" id="expiryDate">
                        </div>
                        <div class="form-group">
                            <label for="pickup">Pick-up times:</label>
                            <input type="text" class="form-control" id="pickup">
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Add to Cart</button>
                    <button type="button" class="btn btn-default">Check Out</button>
                </div>
            </div>
        </div>
    </div>

    <div id="cart" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">My Cart</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                        <h5>Pick-up or Delivery</h5>

                        <h5>Cart</h5>

                        <div class="shopping-cart">
                        
                          <div class="column-labels">
                            <label class="product-image">Image</label>
                            <label class="product-details">Product</label>
                            <label class="product-price">Price</label>
                            <label class="product-quantity">Quantity</label>
                            <label class="product-removal">Remove</label>
                            <label class="product-line-price">Total</label>
                          </div>
                        
                          
                          <div class="totals">
    
                            <div class="totals-item totals-item-total">
                              <label>Total Points</label>
                              <div class="totals-value" id="cart-total"></div>
                            </div>
                          </div>                        
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Check Out</button>
                </div>
            </div>
        </div>
    </div>


    <% include partials/scripts.ejs %>

</body>

</html>