.browse{
    margin-left: 156.98px;
}

#myCart{
    position: relative;
    margin-left: auto;
}
.input-group{
    position: relative;
    height: 38px;
    margin-bottom: 3rem;
    margin-top:8px; 
    width: 110%;
}

.thumbnail{
    display : block;
    box-sizing : border-box;
    width : 100px;
    padding : 10px;
    border: 5px solid #DDD;
    margin-left : auto;
    margin-right: auto;
    background-color : #FFFFFF;
    border-radius: 25px;

}

.items{
    display : grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.item{
    box-sizing : border-box;
    width : 200px;
    padding : 20px;
    border: 10px solid #17A2B8;
    margin : 1px;
    border-radius: 25px;
}

.img-placeholder{
    display : block;
    box-sizing : border-box;
    width : 75px;
    padding : 20px;
    border: 1px solid #DDD;
    margin : 1px;
    background-color : #DDD;
    margin-left : auto;
    margin-right: auto
}

.item:hover{
    cursor: pointer;
    background-color : #17A2B8;
}
.item-info{
    text-align : center;
    margin : auto;
}