.browse{
    margin-left: 156.98px;
}

#myCart{
    position: relative;
    margin-left: auto;
}
.input-group{
    position: relative;
    height: 38px;
    margin-bottom: 3rem;
    margin-top:8px; 
    width: 110%;
}